{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.key }}" class="rt-cn-product">
      {%- if item.image -%}
        <a href="{{ item.url }}" class="rt-cn-product__img-link" aria-hidden="true" tabindex="-1">
          <img
            src="{{ item.image | image_url: width: 144 }}"
            alt="{{ item.image.alt | escape }}"
            width="72"
            height="{{ 72 | divided_by: item.image.aspect_ratio | ceil }}"
            loading="eager"
          >
        </a>
      {%- endif -%}
      <div class="rt-cn-product__info">
        <div class="rt-cn-product__name-row">
          <a href="{{ item.url }}" class="rt-cn-product__name">{{ item.product.title | escape }}</a>
          {%- assign deva = item.product.metafields.custom.deva_name -%}
          {%- if deva != blank -%}
            <span class="rt-cn-product__deva" aria-hidden="true">{{ deva }}</span>
          {%- endif -%}
          {%- assign modal_id = 'CartDisclosureModal-notification-' | append: item.key | replace: ':', '-' -%}
          {%- render 'cart-disclosure-indicator', product: item.product, modal_id: modal_id -%}
        </div>
        {%- unless item.product.has_only_default_variant -%}
          {%- for option in item.options_with_values -%}
            <p class="rt-cn-product__variant">{{ option.name }}: {{ option.value }}</p>
          {%- endfor -%}
        {%- endunless -%}
        <p class="rt-cn-product__qty">{{ 'products.product.quantity.label' | t }}: {{ item.quantity }}</p>
        <p class="rt-cn-product__price">{{ item.final_price | money }}</p>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
